// NEUTRAL

$white: #fff;
$black: #000;
$gray: #DDD;
$light_gray: #f1f1f1;
$dark_gray: #333138;

// COMPONENTS SPECIFIC

$border-gray: #e0e0e0;

// PRIMARY

$green: #65A16E;
$blue: #417D7A;
$light_green: #71B671;

// FEEDBACK

$success: #4CCEAC;
$error: #F28B8B;
$error-hover: #E55050;
$error-active: #D64545;
$alert: #F29D1A;